node_modules/
dist/
.DS_Store
.env
*.log
android/.gradle/
android/local.properties
android/build/
android/app/build/
android/.idea/
ios/DerivedData/
ios/Pods/
ios/App/App.xcworkspace/xcuserdata/
capacitor.config.json.timestamp